name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: test

    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v2

    - run: go build -o /dev/null .
